default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:

development:
  <<: *default
  database: midi_munge_development

test:
  <<: *default
  database: midi_munge_test
